*{
    margin : 0;
}
#poster > img {
    width: 100%;
    height: 20%;
	box-shadow: 5px 5px 5px #dbdbdb;;
}

#app{
    background-image : url("../img/background.png");
}
.introduce-container{
    padding: 10rem;
}
.introduce-about{
    padding-bottom: 2rem;
    font-family: 'Podkova';
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.14em;
    color: #3E3B98;
    text-align: center;
}

.introduce-explain{
    font-family: 'Stylish', sans-serif;
    font-size: 28px;
    line-height: 200%;
    color: #B2B2B2;
    text-align: center;
}

.how-to-use-container{
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 30rem;
    display: flex;
    margin-bottom: 10rem;
}

#img-coffee-head{
    
    background-image: url('../img/coffee1.png');
    background-position: center;
    height: 90%;
    width: 300px;
    flex-grow: 1;
    
}

#img-coffee-tail{
    background-image: url('../img/coffee2.png');
    background-position: center;
    height: 100%;
    width: 300px;
    flex-grow: 1;
    
}

#how-to-use-mean{
    align-content: flex-end;
    background-color: rgb(245, 245, 255);
    flex-grow : 2;
    margin-left: 20px;
    font-size: 12px;
    height: 90%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#how-to-use-mean > p{
    line-height: 20px;
    
    padding-left: 6%;
    margin-bottom: 1.5%;
    font-family: 'Courier New', Courier, monospace;
}

#how-to-use-destination{
    flex-grow: 1;
    background-image: url('../img/destination2.png');
    background-size : cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}
#how-to-use-destination > p{
    margin-top: 10%;
    color: white;
    font-size: medium;
    font-weight: bold;
}

#how-to-use-ticket{
    flex-grow: 1;
    background-image: url('../img/music.png');
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

#how-to-use-ticket>p{
    margin-top: 10%;
    color: white;
    font-size: medium;
    font-weight: bold;
}



.how-to-use-first-contents{
    width: 70%;
    height: 50%;
    display: flex;
    
}

 

.how-to-use-second-contents{
    width: 70%;
    height: 50%;
    display: flex;
}

#mean-logo{
    padding-left: 6%;
    width: 40%;
    
}
