.nav-container{
    position: fixed;
    top: 0;
    
    background-color: rgba(213, 212, 212, 0.3);
    
    /* opacity: 0.2; */
    /* z-index: 100;*/
    z-index:  3; 
    display:flex; 
    height: 10%;
    width: 100%;
    margin:0;
    padding:0;
    align-items: center;
    list-style-type:none;
    justify-content: flex-end;

}

.nav-item{
    padding: 2%;
    right: 0px;
    align-items: stretch;
    margin-right: 2%;
    z-index: 3;
    cursor:pointer;

}

.nav-item a{
    text-align: center;
    color: #3E3B98;
    text-decoration:none;
    font-family: 'Podkova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    z-index: 3;
    letter-spacing: 0.14em;

}