li{list-style:none;}

#espresso-container{

	position: flex;
	width: 100%;
	justify-content: center;
	height: 400px;
  
	
}
ul{padding-inline-start:0px}

.slide_btn_prev{
  width: 40px;
  height: 40px;
  background-size: contain;
  border-radius: 20px;
  border : none;
  padding: 0;
  background-color: #dbdbdb;
}

.slide_btn_next{
  width: 40px;
  height: 40px;
  background-size: contain;
  border-radius: 20px;
  border : none;
  padding: 0;
  background-color: #dbdbdb;
}

button{
  border : none;
  background-color: transparent;
  cursor: pointer;
}
.espresso-slide_btn_box{
  background-color: transparent;
  
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;

}

.espresso-slides_list{  
    display: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    transition: left 0.5s ease-out;
    overflow: hidden;
	
}

.espresso-slide-content{
  text-align: center;
  justify-content: center;
}

.espresso-slides_list.animated{
	transition: 0.5s ease-out;
}
@media (min-width:1000px){
  .espresso-slides_list li:not(:last-child){
	
	height: 20%;
	float:left;
}
}
